<div class="quizzes-container container text-center">
  <h1>Quizzes to take:</h1>

  <% @quizzes.each do |quiz| %>
    <div class="btn btn-histohumans">
      <%= image_tag "#{quiz.country&.flag}", alt: "flag", class: 'quiz-country-flag' if quiz.country %>
      <%= link_to "#{quiz.name} (Level #{quiz.level})", quiz_path(quiz) %>
    </div>
  <% end %>
  <div class="bottom-link">
    <%= render 'components/index-link' %>
  </div>
</div>
