<!-- Map component to be rendered -->
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- <h1>Click countries to select</h1> -->
<div id="chartdiv"></div>
<div id="info" class="border-shadow">
  <span id="selected" data-country=""></span>
</div>

<script>
// Create the map
var map = AmCharts.makeChart("chartdiv", {
  "type": "map",
  "theme": "light",
  "projection": "eckert3",
  "dataProvider": {
    "map": "worldLow",
    "getAreasFromMap": true
  },
  "areasSettings": {
    "selectedColor": "#CC0000",
    "selectable": true
  },
// Add click event to track country selection/unselection
  "listeners": [{
    "event": "clickMapObject",
    "method": function(e) {

      // Ignore any click not on area
      if (e.mapObject.objectType !== "MapArea")
        return;

      var area = e.mapObject;

      // Toggle showAsSelected
      area.showAsSelected = false;

      // Update the name
      selectCountry(e.mapObject.enTitle, e.mapObject.id);
    }
  }]
});

function selectCountry(country, code) {

  const selected = document.getElementById("selected");

  function setPeople() {
    selected.innerHTML = `<li><img src='https://www.countryflags.io/${code}/flat/64.png' class='c-flag'></li> ${country} `;
    var card = document.getElementById(code);
    selected.innerHTML = card.innerHTML;
    selected.children[1].classList.remove('hidden');
  }

  setPeople();
}

</script>
