<div class="navbar-wagon">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.jpg", height: 32 %>
    <% end %>
  <h3><%= link_to "Histohumans", root_path %></h3>
  <p></p>
</div>

