// Add CSS to Quiz index here
.quizzes-container {
  h1 {
    padding: 0.5em;
  }
  .quiz-country-flag {
    height: 100%;
  }
  .btn-histohumans {
    height: 3em;
    padding: 1%;
    margin: 0.4em;
  }
  .bottom-link {
    margin-top: 3em;
  }
}
