.quiz-container {
  padding: 0.5em;

  .question-container {
    margin: 1.5em;
  }

  li {
    text-decoration: none;
    margin: 0.5em 0;
    list-style: none;
  }

  .green {
    background-color: #6ee66e;
  }

  .red {
    background-color: #ef8a8a;
  }
}
