<div class="container text-center">
  <div class="people-list">
    <% @people.each do |person| %>
    <ul>
      <li><%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %></li>
    </ul>
    <% end %>
  </div>
</div>
