<%= render 'components/navbar' %>
<div class="container text-center index-div">
  <div id="map-div">
    <%= render 'components/map' %>
  </div>
  <div class="countries-list text-center">
    <% @countries.each do |country| %>
      <% if country.people? %>
        <ul>
          <li class="country-name"><%= country.name %></li>
          <% country.histohumans.each do |person| %>
            <li><%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

