// Specific CSS for your home-page
#home {
  font-family: 'Quicksand', sans-serif !important;
  background-image: linear-gradient(to bottom, rgba(236, 236, 236, 0.6) 0%, rgba(200, 200, 200, 0.6) 50%), url('https://source.unsplash.com/random');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    padding: 5em;
  }
  .person-card {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6));
    border-radius: 15px;
    margin: 0 10em;
    padding: 1em;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;

    img, a, p {
      flex-shrink: 1;
    }
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0;
  }

  a {
    color: black;
    font-weight: bold;
  }

  a, p {
    font-size: 1.1em;
  }
}
