.index-div {
  background-color: #000038;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  // height: 100vh;
}

.people-list {
  width: 70%;
  margin: 3em;
  padding: 4em;
  background-color: white;
  border-radius: 10px;
}

.countries-list {
  width: 70%;
  margin: 3em;
  padding: 4em;
  background-color: white;
  border-radius: 10px;

  .continent-link {

  }

  ul {
    color: darkblue;
    list-style: none;
    margin-left: 0;
    padding: 0;
  }
}

.c-flag {
  padding: 0 10px;
  background-color: #eae7e7;
  border-radius: 10px;
}
