.btn-histohumans {
  background-color: white;
  box-shadow: 0px 0px 12px -1.5px #523838;
  border-radius: 10px;
  color: #6f6e6e;
  background-color: white;
  font-family: 'Quicksand', sans-serif !important;
}
.btn-histohumans:hover {
  color: #333333;
  background-color: #F6F6F6;
}
.side-margin {
  margin: 0px 4px !important;
}
