.card {
  height: 175px;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 8px 8px 0px 0px;
  margin: 1em 3em 0em 3em;

  ul {

  }
}

.country-card {
  width: 80%;

  .people-list {
    margin: 0em 3em;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 31px -5px rgba(179,179,179,0.5);
    padding: 0.6em;
    position: relative;
    .card-user {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .person-line {
      margin: 0.5em 0em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0em 7em;

      a {
        padding-top: 0.5em;
      }
    }
  }
}
.card-flag {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  border-radius: 40%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
