// @import 'https://fonts.googleapis.com/css?family=Lato';

#map-div {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 3em;
  padding: 1em;

  #chartdiv {
    max-width: 1100px;
    height: 400px;
    border: 1px solid #ddd;
    margin: 0 auto;
    background-color: #cfe1f5;
  }

  #info {
    width: 70%;
    overflow: hidden;
    max-width: 1100px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
  }

  h1 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
  }

  #selected {
    color: darkblue;
    list-style: none;
    margin-left: 0;
    .card {
      width: 100%;
      margin: 0;
    }
    li {
      margin: 0.5em 0;
    }
  }
}
